
.container {
    display: flex;
    margin-top: 50px;
    height: 100%;

}

/* .others {
    flex: 4;
    background-color: aqua;
} */

.link {
    text-decoration: none;
    color: inherit;
}

a:active {
    background-color: aqua;
}