.singleProduct {
    flex: 4;
}

.singleProductWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.singleProductCreateButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.singleProductTop {
    display: flex;
}

.singleProductTopLeft, .singleProductTopRight {
    flex: 1;
}

.singleProductTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
} 

.singleProductInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.singleProductInfoTop {
    display: flex;
    align-items: center;
}

.singleProductName {
    font-weight: 600;
}

.singleProductInfoBottom {
    margin-top: 10px;
}

.singleProductInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.singleProductInfoValue {
    font-weight: 300;
}

.singleProductBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.singleProductForm {
    display: flex;
    justify-content: space-between;
}

.singleProductFormLeft {
    display: flex;
    flex-direction: column;
}

.singleProductFormLeft > label {
    margin-bottom: 10px;
  color: gray;
}

.singleProductFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.singleProductFormLeft > select {
    margin-bottom: 10px;
    height: 20px;
}

.singleProductFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid red; */
  
}

.singleProductUpload {
    display: flex;
  align-items: center;
}

.singleProductUploadImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }

  
.singleProductButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }