.sidemenu {
    // flex: 1;
    position: sticky;
    position: -webkit-sticky;
    // padding: 0px 10px;  

    @include mobile {
        width: 100vw;
        padding: 0;  

    }


    &_wrapper {
        color: #555;
        border: 1px solid #e6e6e6;
        border-top-right-radius: 5px;
        h3 {
            padding: 5px 10px;
            font-size: 25px;
            background-color: #e6e6e6;
        }

        &_accordion {
            border: 1px solid #e6e6e6;
            

            &_item {
                @include flex(center, space-between);
                padding: 10px 10px;
                border-bottom: 1px solid #e6e6e6;
                color: black;
                font-size: 15px;
                font-weight: 500;  
            }

            &_category {
                align-items: center;
    
                li {
                    padding: 10px 10px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    color: cadetblue;
                    font-weight: 400;  

                    border-bottom: 1px solid #e6e6e6;
                }
            }
            
        }

    }
}